body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#d8e5fdd5 ;
    color: #333333;
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1.6em;

}
.container{
    max-width: 800px;
    margin: 0px auto;
    

}
.header-box{
    background-color: #1e3c72;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
}
.card{
    background-color: #ffffff;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 20px;
    border-radius: 8px;
}
.meta-info{
    font-size: 0.85rem;
    color: #e0e0e0;
}
.data-box{
    background-color: #eef6ff;
    border-left: solid 4px #1e3e72;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 20px;
}
.items{
    margin-left: 20px;
}
.items li{
    margin-bottom: 8px;
    color: #444444;
}
.important, dt{
    font-weight: bold;
    color: #1e3c72;
}
.btn{
    display: inline-block;
    padding: 6px 12px;
    margin-right: 5px;
    margin-top: 4px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 0.85rem;
    font-weight: bold;

}
.btn-primary{
    background-color:#1e3c72 ;
    color: #ffffff;
}
.footer-link{
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
}